
@{
    Layout = "_Layout";
}

@*Start body*@
    <center>
        <div class="mt-4 p-5 bg-success text-white rounded">
            <h1>Welcome To Privacy Page</h1>
            <p>lorem ipusm....</p>
        </div>
    </center>
@*End body*@


