@model Departement 
@{
    ViewData["Title"] = "Create";
}
<a asp-action="Index" class="btn btn-dark">Back Tio List</a>
<h1>Create</h1>

<br />
<br />

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <input type="submit" class="btn btn-primary btn-success" value="Add"/>
</form>

@section Validation{
    <partial name="_ValidationScriptsPartial"/>
}

