
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="card bg-transparent py-2">
    <div class="body text-center">
        <span>Check you Email: </span>
        <a class="btn btn-primary" target="_blank" href="">Open your Email</a>
    </div>
</div>

