@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="text-center">
    <p>Your Password has been reset, Please Login Again! </p>
    <div class="mt-2 w-100">
        <a asp-action="Login" class="btn btn-primary w-100">Login</a>
    </div>
</div>


