@model IdentityRole
@{
    ViewData["Title"] = "Edit";

}

<h1>Update Role</h1>
<br />
<br />

<div class="row">
    <div class="col-6">
        <form asp-action="Edit" asp-controller="Role">
            <input hidden asp-for="Id" />
            <div class="form-group">
                <label asp-for="@Model.Name" class="col-form-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <br />
            <div>
                <a asp-action="AddOrRemoveUsers" asp-controller="Role" asp-route-RoleId="@Model.Id" class="btn btn-info">Add Or Remove Users</a>
            </div>
            <div class="mt-2">
            <input type="submit" value="Add" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
            </div>
        </form>
    </div>
</div>

@section Validation {
    <partial name="_ValidationScriptsPartial" />
}





