@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="Login">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input class="text email" type="email" placeholder="Email" asp-for="Email" required="">
    <input class="text" type="password" placeholder="Password" asp-for="Password" required="">
    <div class="wthree-text">
        <label class="anim mt-3" >
            <input type="checkbox" class="checkbox" asp-for="RememberMe">
            <span>Remember me</span>
        </label>
        <div class="clear"> </div>
    </div>
    <input type="submit" value="Sign In">
</form>
<p><a asp-action="ForgetPassword" class="text-primary">Forget Password?</a></p>
<p>Do Not have an Account? <a asp-action="Register" class="text-primary"> Register Now!</a></p>

