@model Employee
@{
    ViewData["Title"] = "Update";
}

<h1>Edit Employee</h1>
<br />
<br />
<form asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <input asp-for="Id" hidden/>

    <partial name="PartialViews/CreateEditEmployeePartialView" />

    <input class="btn btn-primary" type="submit" value="Save"/>
    <a asp-action="Index" class="btn btn-light"> Back To List</a>

</form>

@section scriptSection{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
