@*Start body*@
    <center>
        <div class="mt-4 p-5 bg-light text-white rounded">
            <h1>Welcome To AboutUs Page</h1>
            <p>lorem ipusm....</p>
        </div>
    </center>
@*End body*@


  

